In [9]:
import pandas as pd
import psycopg2
from psycopg2.extras import RealDictCursor

In [3]:
options = f'-c search_path=test1'
client = psycopg2.connect(
    host='indobits-test1.postgres.database.azure.com',
    port='5432',
    user='indobits@indobits-test1',
    password='Luis1234',
    database='postgres',
    options=options
)

In [5]:
cursor = client.cursor(cursor_factory=RealDictCursor)

In [18]:
cursor.execute('select * from dm_customers')
customers = cursor.fetchall()
customers

[RealDictRow([('name', 'dario'), ('age', 30)])]

In [20]:
df = pd.DataFrame(customers)
df

    name  age
0  dario   30